@ms-scrollbar-track-size: 16px;

.ms-track {
  position: absolute;
  background: transparent;
  opacity: 0;
  transition: background-color 0.3s ease-out, border 0.3s ease-out, opacity 0.3s ease-out;
  user-select: none;

  &.ms-track-show {
    opacity: 1;
  }

  &.ms-y {
    top: 0;
    right: 0;
    width: @ms-scrollbar-track-size;
    height: 100%;
    border-left: 1px solid transparent;

    &.ms-active,
    &:hover {
      .ms-thumb {
        width: @ms-scrollbar-track-size - 4;
      }
    }

    .ms-thumb {
      top: 0;
      right: 2px;
      width: 6px;

      &:hover {
        width: 12px;
      }

      &:after {
        position: absolute;
        top: 0;
        right: -2px;
        width: @ms-scrollbar-track-size;
        height: 100%;
        content: '';
      }
    }
  }

  &.ms-x {
    bottom: 0;
    left: 0;
    width: 100%;
    height: @ms-scrollbar-track-size;
    border-top: 1px solid transparent;

    &.ms-active,
    &:hover {
      .ms-thumb {
        height: @ms-scrollbar-track-size - 4;
      }
    }

    .ms-thumb {
      bottom: 2px;
      left: 0;
      height: 6px;

      &:hover {
        height: 12px;
      }

      &:after {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: @ms-scrollbar-track-size;
        content: '';
      }
    }
  }

  &.ms-active,
  &:hover {
    background: var(--ms-track-background);
    border-color: var(--ms-track-border-color);
    opacity: 1;
  }

  .ms-thumb {
    position: absolute;
    background: var(--ms-thumb-color);
    border-radius: 6px;
    transition: width 0.3s ease-out, height 0.3s ease-out;
    user-select: none;
  }
}
